{% if quiz %}
    <form method="POST" action="/quizzes/{{ quiz.id }}">
{% else %}
    <form method="POST" action="/quizzes">
{% endif %}
    <div class="control">
        <label for="name">Name: </label>
        {% if quiz %}
            <input type="text" name="name" value="{{ quiz.name }}">
            <input type="text" name="weight" value={{ quiz.weight }}>
        {% else %}
            <input type="text" name="name" placeholder="Enter quiz name" />
            <input type="text" name="weight" placeholder="Enter weight"> 
        {% endif %}
        
    </div>
    <button type="submit" value="Save Quiz"/>    
</form>