{% extends "layouts/_default.twig" %}
{% block main_content %}
    <div id="list"></div>
    <p>
        <a href="/questions/new">Create New Question</a>
    </p>
{% endblock %}

{% block reactjs %}
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="/views/list.js"></script>
    <script type="text/javascript">
        // append to DOM/replace html element with the component itself
        const domContainer = document.querySelector('div#list')
        ReactDOM.render(React.createElement(List, { model: 'questions' }), domContainer)
    </script>
{% endblock %}