<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    {% include "partials/header.twig" %}
    {% block main_content %}
    {% endblock %}
    {% block reactjs %}
    {% endblock %}
</body>
</html>